@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  width: 100vw;
  font-family: 'Manrope';
}

.content.hidden {
  height: 455px;
  position: relative;
  border-radius: 10px;
  box-shadow: 0px 4px rgba(0, 0, 0, 0.25);
  margin: 36px 40px;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.content__description {
  width: 930px;
  height: 455px;
  position: absolute;
  background-color: rgb(235, 240, 250);
  border-radius: 10px 0px 0px 10px;
}

.content__text {
  width: 538px;
  height: 278px;
  margin: 88.5px 320px 88.5px 72px;
}

.content__title {
  width: 200px;
  height: 48px;
  font-family: 'Manrope';
  font-weight: 500;
  line-height: 160%;
  color: rgb(41, 75, 138);
  font-size: 30px;
  text-shadow: 0px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 18px;
  -webkit-text-stroke: 1px rgb(0, 0, 0);
}

.content__subtitle {
  width: 511px;
  height: 108px;
  font-family: 'Manrope';
  font-weight: 400;
  line-height: 160%;
  color: rgb(114, 114, 114);
  font-size: 17px;
  margin-bottom: 36px;
  word-break: break-word;
}

.content__btn {
  width: 341px;
  height: 68px;
  border-radius: 60px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: rgb(36, 76, 152);
  font-family: 'Manrope';
  font-weight: 500;
  line-height: 160%;
  color: rgb(255, 255, 255);
  font-size: 18px;
  text-shadow: 0px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke: 1px rgb(0, 0, 0);
  cursor: pointer;
}

.content__btn-img {
  width: 44px;
  height: 44px;
  border-radius: 100%;
  background: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
}

.content__image-wrapp {
  width: 50%;
  height: 456px;
  position: absolute;
  right: 0;
  background: url('../images/image\ 15.png') no-repeat center;
  background-size: cover;
  border-radius: 0px 10px 10px 0px;
}

.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__form {
  position: relative;
  width: 500px;
  height: 573px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(240, 244, 252);
}

form {
  width: 452px;
  height: 527px;
  position: relative;
}

.btn__close {
  position: absolute;
  width: 100%;
  height: 52px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 4px;
}

.close {
  width: 52px;
  height: 52px;
  border-radius: 10px;
  background: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.form__content-wrapp {
  position: absolute;
  width: 100%;
  height: 469px;
  display: flex;
  flex-direction: column;
}

.form__description {
  color: rgb(50, 50, 50);
  font-family: 'Manrope';
  font-size: 24px;
  font-weight: 500;
  text-align: left;
  margin-bottom: 18px;
  margin-top: 56px;
}

.login {
  position: absolute;
  width: 100%;
  height: 73px;
  top: 107px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 24px;
  border-radius: 10px;
  background: rgb(215, 226, 246);
  color: rgb(31, 66, 132);
  font-family: 'Manrope';
  font-size: 18px;
  font-weight: 500;
  line-height: -1px;
  margin-bottom: 4px;
}

.password {
  position: absolute;
  width: 100%;
  height: 73px;
  top: 184px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 24px;
  border-radius: 10px;
  background: rgb(215, 226, 246);
  color: rgb(31, 66, 132);
  font-family: 'Manrope';
  font-size: 18px;
  font-weight: 500;
  line-height: -1px;
  margin-bottom: 24px;
}

.login:focus,
.password:focus {
  outline: none;
}

.checkbox__wrapp {
  position: absolute;
  width: 100%;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  top: 281px;
  margin-bottom: 24px;
}

.checkbox {
  width: 18px;
  height: 18px;
  margin-right: 7px;
  border: 2px solid rgb(50, 50, 50);
  cursor: pointer;
}

.checkbox__description {
  color: rgb(50, 50, 50);
  font-family: 'Manrope';
  font-size: 18px;
  font-weight: 400;
}

.restore {
  position: absolute;
  width: 139px;
  height: 27px;
  top: 330px;
  color: rgb(36, 76, 152);
  font-family: 'Manrope';
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  margin-bottom: 36px;
  cursor: pointer;
}

.restore:active {
  color: rgb(24, 57, 119);
}

.submit {
  position: absolute;
  width: 100%;
  height: 64px;
  top: 393px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 18px 12px 18px 12px;
  border-radius: 4px;
  background: rgb(36, 76, 152);
  color: rgb(255, 255, 255);
  font-family: 'Manrope';
  font-size: 18px;
  font-weight: 500;
  line-height: 160%;
  margin-bottom: 4px;
  cursor: pointer;
}

.submit:active {
  background: rgb(24, 57, 119);
}

.join {
  position: absolute;
  width: 100%;
  height: 64px;
  top: 461px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 18px 12px 18px 12px;
  border: 1px solid rgb(36, 76, 152);
  border-radius: 4px;
  color: rgb(36, 76, 152);
  font-family: 'Manrope';
  font-size: 18px;
  font-weight: 500;
  line-height: 160%;
  box-shadow: 0px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.join:active {
  border: 2px solid grey;
}

.close .visible {
  display: block;
}

.hidden {
  display: none;
}

@media (max-width: 1440px) {
  .content {
    width: 1310px;
  }

  .content__description {
    width: 700px;
  }

  .content__text {
    width: 538px;
    height: 245px;
  }

  .content__title {
    width: 173px;
    height: 42px;
    font-family: 'Manrope';
    font-size: 26px;
    font-weight: 500;
    line-height: 160%;
    margin-bottom: 18px;
  }

  .content__subtitle {
    width: 511px;
    height: 81px;
    font-family: 'Manrope';
    font-size: 17px;
    font-weight: 400;
    line-height: 160%;
    margin-bottom: 36px;
  }

  .content__image-wrapp {
    width: 680px;
    background: url('../images/image\ 15\ \(1\).png') no-repeat center;
    background-size: cover;
  }

  .content__btn-img {
    width: 36px;
    height: 36px;
  }
}

@media (max-width: 768px) {
  .content {
    width: 720px;
    height: 586px;
    flex-direction: column;
  }

  .content__description {
    width: 720px;
    height: 226px;
    border-radius: 10px;
  }

  .content__text {
    width: 720px;
    height: 226px;
    margin: 24px;
  }
  .content__title {
    width: 672px;
    height: 32px;
    font-family: 'Manrope';
    font-size: 20px;
    font-weight: 500;
    line-height: 160%;
  }

  .content__subtitle {
    width: 672px;
    height: 48px;
    font-family: 'Manrope';
    font-size: 15px;
    font-weight: 400;
    line-height: 160%;
    margin-bottom: 24px;
  }

  .content__btn {
    width: 261px;
    height: 56px;
    font-family: 'Manrope';
    font-size: 15px;
    font-weight: 500;
    line-height: 160%;
  }

  .content__image-wrapp {
    width: 720px;
    height: 363px;
    bottom: 0;
  }
}

@media (max-width: 375px) {
  .content {
    width: 372px;
    height: 482px;
    margin: 0;
  }

  .content__description {
    width: 372px;
    height: 262px;
    border-radius: 0;
  }

  .content__text {
    width: 279px;
    height: 146px;
  }

  .content__title {
    width: 279px;
    height: 27px;
    font-family: 'Manrope';
    font-size: 17px;
    font-weight: 500;
    line-height: 160%;
  }

  .content__subtitle {
    width: 279px;
    height: 105px;
    font-family: 'Manrope';
    font-size: 13px;
    font-weight: 400;
    line-height: 160%;
  }

  .content__btn {
    width: 279px;
    height: 56px;
  }

  .content__image-wrapp {
    width: 100%;
    height: 224px;
  }
}
